@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  margin: auto;
}

* {
  box-sizing: border-box;
}
.header-banner {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-left: 100px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.error-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #ff6060;

  span {
    font-size: 250px;
    font-weight: 700;
  }
  h2 {
    font-weight: 500;
    font-size: 36px;
  }
  .back-home {
    font-size: 18px;
    text-decoration: none;
    color: #ff6060;
    cursor: pointer;
    text-decoration: underline;
  }
}
